
.nitti {
  font-family: Nitti;
  font-style: normal;
  font-weight: normal;
}

.nittibold {
  font-family: Nitti;
  font-style: normal;
  font-weight: bold;
}


body {
     font-family: Nitti, sans-serif;
     font-style: normal;
     font-weight: normal;
     color: rgb(0, 13, 25);
     text-align: left;
     max-width: 55%;
     margin-left: 6%;
     margin-top: 7.5%;
     padding: 0;
     font-size: 35px;
     background: url(https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/13043783_1534886973482370_4804272132768189464_n.jpg?oh=cba9976e421a5fab2edc51c3464e7de7&oe=57D00185) no-repeat;
     -moz-background-size: 100%; /* Firefox 3.6+ */
     -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
     -o-background-size: 100%; /* Opera 9.6+ */
     background-size: 100%; /* Современные браузеры */

     }

a {
  	color: red;
    padding-bottom: 0.05em;
    border-bottom: 0.08em solid rgba(13, 197, 207, 9.2);
    text-decoration: none;
}

a:hover {
	border-bottom-color: rgba(0, 153, 255, 1);
    color: rgba(0, 123, 250, 110);
}

h1 {
			 font-family: Nitti, sans-serif;
			 font-weight: bold;
			 font-size: 32px;
		 }

h3 {
     	 font-family: Nitti, sans-serif;
     	 font-weight: normal;
     	 font-size: 20px;
    }

/*td {
      vertical-align: top;
      display: table-row;
      text-align: -webkit-right;
      display: table-cell;
      vertical-align: inherit;
}

img {
  width: 96px;
  height: 600px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
}*/
